.footer-wrapper > * {
    background-color: white;
    color: black;
    /* margin: 0px; */
    text-align: center;
}

.footer-wrapper {
    background-color: white;
}

.footer-list {
    padding-top: 10px;
}

.footer-list li {
    display: inline;
    background-color: white;
    margin: 6px;
}

.footer-list a {
    background-color: white;
}

h6 {
    padding-bottom: 10px;
}

.media-icon {
    background-color: white;
    fill: black;
}