:root {
    --cloudblue: #acddf4;
}

.big-name {
    padding-top: 175px;
}

.big-name > * {
    display: inline;
}

h1 {
    margin-left: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5 {
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-card-container {
    margin: 0 auto;
    justify-content: center;
}

.home-card {
    background-color: black;
    width: 45vw; 
    height: 30vw;
    margin: 10px;
}

/* Placeholder class until backgrounds exist for each card */
.home-card-body {
    position: relative;
    /* background-image: url("../assets/images/bcs-adventures-logo.png");
    background-size: cover; */
}

.portfolio-body {
    position: relative;
    /* background-image: url("../assets/images/acnh-villager-database.png");
    background-size: cover; */
}

.home-card-title {
    position: absolute;
    bottom: 44%;
    left: 40%;
    background-color: transparent;
    font-size: 3vw;
}

.home-card-description-layer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;

}

/* .card-description {
    text-align: center;
} */

.home-card-body:hover .home-card-description-layer {
    visibility: visible;
    opacity: 0.8;
    border: 1px solid var(--cloudblue);
}
