.portfolio-banner {
    position: relative;
    background-image: url('../assets/images/wheatfield.jpg');
    height: 300px
}

.portfolio-banner h1 {
    background-color: transparent;
    position: absolute;
    bottom: 40%;
    left: 41%;
    font-size: 4vw;
}

.portfolio-card {
    background-color: black;
    width: 30vw; 
    height: 30vw;
    margin: 10px;
}

/* .portfolio-card-body-bcsa {
    background-image: url('../assets/images/bcs-adventures-logo.png');
    background-size: cover;
    width: 100%;
} */